extends ../layout

block content
	.container(style='margin-top: 130px;')
		if (errMsg != '')
			.error-msg
				i.fa.fa-times-circle 
				span  #{errMsg}
		if (sucMsg != '')
			.success-msg
				i.fa.fa-check
				span  #{sucMsg}
		.row
			.col-md-12
				.new-signup
					form(action='/admin/addproduct', method='post', encType='multipart/form-data')
						h3 Add Product
						//- label Category
						if (category)
							select(name='category', onchange='changecategory()', id='optioncategory')
								option(selected) #{category}
								each c, index in categorydist
									option= categorydist[index]
						else
							select(name='category', onchange='changecategory()', id='optioncategory')
								option(disabled, selected) Select Category
									each c, index in categorydist
										option= categorydist[index]
						br
						//- label Name
						select(name='name')
							option(disabled, selected) Select Name
							each n, index in name
								option= n.name
						br
						.row
							.col-md-6
								.row
									.col-md-6
										input(type='text', name='color', placeholder='color')
									.col-md-6
										input(type='text', name='size', placeholder='size')										
							.col-md-6
								label Image
								input(type='file', name='img', required)
						.row
							.col-md-4
								input(type='number', name='oprice', placeholder='Original Price', id='oprice', onkeyup='FindDiscount()')
							.col-md-4
								input(type='number', name='discount', placeholder='discount', id='discount', onkeyup='FindDiscount()')
							.col-md-4
								label Final Price:
								span(id='fprice', style='position:relative;left:-150px;')
						.row
							.col-md-4
								input(type='number', max=10, min=1, name='quantity', required, placeholder='Quantity')
						br
						h3 Description
						label Title:
						input(type='text', name='title', placeholder='add title here')
						br
						label Content:
						textarea(type='text', name='content', placeholder='add content here')
						br
						input.new-signup-btn(type='submit', name='submit', value='Add')
						br
						br
		form(action='/admin/pbcategory', method='post')
			label Find By Category
			select(name='category')
				each c, index in categorydist
					option= categorydist[index]
			input(type='submit', name='submit', value='find')
		.container
			.row
				each p, index in products
					.my-souled-card.col-md-3.col-6
						a.my-souled-card-anchor(href='/admin/product/'+p._id)
							img.my-souled-card-image-normal(src="/images/products/"+p.property.image, style="width:100%")
							img.my-souled-card-image-model(src='/images/products/hogwarts1.jpg', style='width: 100%;')
							.my-souled-card-name #{p.details.name}
							.row
								.col-md-6.col-6
									span.my-souled-card-type T-shirts
								.col-md-6.col-6
									span.my-souled-card-price Rs. #{p.price.finalprice}/-
					//- div(class="make-3D-space my-3dcard", data-aos='zoom-in-up', data-aos-duration=600)
					//- 	div(class="product-card")
					//- 		div(class="product-front")
					//- 			div(class='shadow')
					//- 			img(src="/images/products/"+p.property.image, alt="", style='width: 100%;')
					//- 			div(class="image_overlay")
					//- 			a(href='/admin/product/'+p._id)
					//- 				div(class="view_details") View details
					//- 			div(class="stats")
					//- 				div(class="stats-container")
					//- 					span() #{p.details.name}
					//- 					span.float-right
					//- 						del &#8377; #{p.price.originalprice}
					//- 						br
					//- 						span.final-price-3dcard &#8377; #{p.price.finalprice}
					//- 					.product-options
					//- 					.my-product-details-3dcard
					//- 						b Color: 
					//- 							span #{p.property.color}
					//- 						br       
					//- 						b Size:                 		
					//- 							span #{p.property.size}
						//- a(href='/admin/product/'+p._id)
						//- 	span #{index+1} : #{p.details.name}
						//- 	br
						//- 	img(src='/images/products/'+p.property.image, class='product-img')
		br
		br
		hr
		a(href='/admin/category') Manage Category
		br
		br
		a(href='/admin/name') Manage Name
	script(src='/javascripts/admin-products-categoryname.js')