extends layout

block content
	.container(style='margin-top: 130px;')
		if (errMsg != '')
			.error-msg
				i.fa.fa-times-circle 
				span  #{errMsg}
		if (sucMsg != '')
			.success-msg
				i.fa.fa-check
				span  #{sucMsg}
		.row
			.col-md-3
			.col-md-6
				.new-login-form
					center
						form(name='login', action='/login/change-password', method='post')
							img(src='/images/logo/koalalogo.png')
							h3 Change Password
							input(type='password', name='password', placeholder='Enter New Password', pattern='(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[@!_]).{8,}', title='Minimum 8 characters and atleast one alphabet, one digit and one symbol(@,! or _) required', required)
							input(type='hidden', name='email', value=email)
							br
							input(type='number', name='otp', placeholder='Enter Your OTP here')
							br
							input.new-login-btn(type='submit', name='change', value='Update')
							//- input.login-email(type='email', name='email', placeholder='Enter your email')
							//- br
							//- input.login-password(type='password', name='password', placeholder='Enter your password')
							//- br
							//- input.new-login-btn(type='submit', name='login', value='login')
		//- .signin
		//- 	form(name='change-password', action='/login/change-password', method='post')
		//- 		h2 Change Password
		//- 		label Enter New Password:
				//- input(type='password', name='password', placeholder='Enter New Password', pattern='(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[@!_]).{8,}', title='Minimum 8 characters and atleast one alphabet, one digit and one symbol(@,! or _) required', required)
				//- input(type='hidden', name='email', value=email)
				//- input(type='number', name='otp', placeholder='Enter Your OTP here')
		//- 		if (errMsg)
		//- 			p #{errMsg}
		//- 		if (sucMsg)
		//- 			p #{sucMsg}
				//- input.signinbtn(type='submit', name='change', value='Update')