extends ../layout

block content
	script(src='/javascripts/filter.js')
	- var totalproducts = 0;
	#demo.carousel.slide(data-ride='carousel')
		//- Indicators
		ul.carousel-indicators
			li.active(data-target='#demo', data-slide-to='0')
			li(data-target='#demo', data-slide-to='1')
			li(data-target='#demo', data-slide-to='2')
			li(data-target='#demo', data-slide-to='3')
			li(data-target='#demo', data-slide-to='4')
		//-  The slideshow
		.carousel-inner
			.carousel-item.active
				img(src='/images/ui/slide/1.jpg', alt='koala2')
			.carousel-item
				img(src='/images/ui/slide/2.jpg', alt='koala3')
			.carousel-item
				img(src='/images/ui/slide/3.jpg', alt='koala3')
			.carousel-item
				img(src='/images/ui/slide/4.jpg', alt='koala3')
			.carousel-item
				img(src='/images/ui/slide/5.png', alt='koala3')
		//- Left and right controls
		a.carousel-control-prev(href='#demo', data-slide='prev')
			span.carousel-control-prev-icon
		a.carousel-control-next(href='#demo', data-slide='next')
			span.carousel-control-next-icon
	//- .slideshow-container
	//- 	.mySlides.fade
	//- 		img(src='/images/ui/slide/navratri-offer-mens-kurta.png', style='width: 100%;')
	//- 		.text 
	//- 	.mySlides.fade
	//- 		img(src='/images/ui/slide/navratri-offer-mens-kurta.png', style='width: 100%;')
	//- 		.text 
	//- div(style='text-align: center;')
	//- 	span.dot
	//- 	span.dot
	//- script(src='/javascripts/ui/slide/w3.js')
	center
		button(id='btn-filter',style='margin-top:50px;',onclick='filter()') Filter 
			i.fa.fa-filter
	div(id='filter-display')
		.filters(style='margin-top: 50px;')
			center
				h5 FILTERS
			form(action='/users/filtered/products', method='get')
				.row
					.col-3
						label Categories
					.col-3
						label Prices
					.col-3
						label Color
					.col-3
						label Size
				.row
					.col-3
						select(name='category', id='filter-category')
							option(value='all') All
							each c, index in categories
								option(value=c) #{c}
					.col-3
						select(name='price', id='filter-price')
							option(value='all') All
							option(value='low to high') Low To High
							option(value='high to low') High To Low
					.col-3
						select(name='color', id='filter-colors')
							option(value='all') All
							each c, index in colors
								option(value=c) #{c}
					.col-3
						select(name='size', id='filter-sizes')
							option(value='all') All
							each s, index in sizes
								option(value=s) #{s}
					input(type='submit', name='apply', value='APPLY')
	.container(id='main-product-display')
		.row(style='position: relative; top: 20px;')
			each c, index in categories
				.col-md-12
					h5.welcome-category #{categories[index]}
				.row
				each p, pindex in products
					if (categories[index] == p.details.category)
						.my-souled-card.col-md-3.col-6
							a.my-souled-card-anchor(href='/users/product/'+p._id)
								img.my-souled-card-image-normal(src="/images/products/"+p.property.image, style="width:100%")
								img.my-souled-card-image-model(src='/images/products/hogwarts1.jpg', style='width: 100%;')
								.my-souled-card-name #{p.details.name}
								.row
									.col-md-6.col-6
										span.my-souled-card-type #{p.details.category}
									.col-md-6.col-6
										span.my-souled-card-price Rs. #{p.price.finalprice}/-
						//- div(class="make-3D-space my-3dcard", data-aos='zoom-in-up', data-aos-duration=600)
						//- 	div(class="product-card")
						//- 		div(class="product-front")
						//- 			div(class='shadow')
						//- 			img(src="/images/products/"+p.property.image, alt="", style='width: 100%;')
						//- 			div(class="image_overlay")
						//- 			a(href='/users/product/'+p._id)
						//- 				div(class="view_details") View details
						//- 			div(class="stats")
						//- 				div(class="stats-container")
						//- 					span() #{p.details.name}
						//- 					span.float-right
						//- 						del &#8377; #{p.price.originalprice}
						//- 						br
						//- 						span.final-price-3dcard &#8377; #{p.price.finalprice}
						//- 					.product-options
						//- 					.my-product-details-3dcard
						//- 						b Color: 
						//- 							span #{p.property.color}
						//- 						br       
						//- 						b Size:                 		
						//- 							span #{p.property.size}
						//- .mycard(id='product-card-'+pindex)
						//- 	img(src="/images/products/"+p.property.image, style="width:100%")
						//- 	center
						//- 		h3 #{p.details.name}
						//- 	p
						//- 		span Color: #{p.property.color}
						//- 		br
						//- 		span Size: #{p.property.size}
						//- 		br
						//- 	p
						//- 		span Price: &nbsp;
						//- 			del #{p.price.originalprice}/- &#8377;
						//- 			span &nbsp; #{p.price.discount}% off
						//- 			br
						//- 			center
						//- 				span
						//- 					b #{p.price.finalprice}/- &#8377;
						//- 					input(type='hidden', name='finalprice', value=p.price.finalprice, id='product-price-'+pindex)
						//- 	a(class="mybuttonlink", href='/users/product/'+p._id) view details
							- totalproducts = totalproducts + 1
	.container(id='sorted-product-display', style='display: none;')
		h3 Sorted products
	input(type='hidden', id='totalproducts', name='totpro', value=totalproducts)
	script(src='/javascripts/ui/filters/sort.js')