extends ../layout

block content
	- var incart = 0;
	.container(style='margin-top: 130px;')
		if (errMsg != '')
			.error-msg
				i.fa.fa-times-circle 
				span  #{errMsg}
		if (sucMsg != '')
			.success-msg
				i.fa.fa-check
				span  #{sucMsg}
		if product.property.quantity != 0
			.product-display-page
				.row
					.col-md-5
						img.productpg-image(src='/images/products/'+product.property.image)
					.col-md-7
						.row
							.col-6
								h5.product-display-page-name #{product.details.name}
							.col-6
								h4(style='').float-right &#8377;#{product.price.finalprice}
							.col-md-12
								h6 #{product.details.category}
							.col-md-12
								h6 #{product.property.color}
						hr
						.row.mt-4.mb-4
							.col-md-6
								span.size Size
								br
								select.mt-2.select-product-page-avas(onchange='location = this.value')
									each avas, index in availablesize
										option(value='../products/'+availablesize[index]+'/'+product.details.name) #{availablesize[index]}
							.col-md-6
								span.size Quantity
								br
								input.mt-2.input-product-page-avas(type='number', min='1', max=product.property.quantity, placeholder='qty', name='quantity', value=1, id='product-qty-1', onkeyup='QtyChange()', onchange='QtyChange()')
								input(type='hidden', name='originalprice', value=product.price.originalprice)
								input(type='hidden', name='finalprice', value=product.price.finalprice)
								input(type='hidden', name='name', value=product.details.name)
								input(type='hidden', name='category', value=product.details.category)
								input(type='hidden', name='color', value=product.property.color)
								input(type='hidden', name='size', value=product.property.size)
								input(type='hidden', name='image', value=product.property.image)
								//- input.mybutton(type='submit', name='loginn', value='add to cart')
						hr
						.row
							.col-md-12
								form(name='loginn',action='/general/loginn', method='post')
									script(src='/javascripts/productpage/qty.js')
									input.input-product-page-avas(type='hidden', min='1', max=product.property.quantity, placeholder='qty', name='quantity', id='product-qty-2', value=1)
									input(type='hidden', name='originalprice', value=product.price.originalprice)
									input(type='hidden', name='finalprice', value=product.price.finalprice)
									input(type='hidden', name='name', value=product.details.name)
									input(type='hidden', name='category', value=product.details.category)
									input(type='hidden', name='color', value=product.property.color)
									input(type='hidden', name='size', value=product.property.size)
									input(type='hidden', name='image', value=product.property.image)
									.row
										.col-md-6
											input.new-mybutton-addtocart(type='submit', name='loginn', value='add to cart')
										.col-md-6
											button.new-mybutton-addtocart(type='button', name='buy now', value='Buy Now', onclick='GoToLogin()') Buy Now
												span &nbsp;&nbsp;&nbsp;
													i.fa.fa-flash
		if product.property.quantity == 0
			.row
				.col-md-12
					h2 #{product.details.name}
			.row
				.col-md-5
					img.productpg-image(src='/images/products/'+product.property.image)
				.col-md-7
					.row
						.col-md-12
							.product-details
								table
									tr
										td(colspan='2') 
											h6 #{product.details.name}
									tr
										td Color: 
										td #{product.property.color}
									tr
										td Size: 
										td #{product.property.size}
									tr
										td Price: 
										td #{product.price.finalprice}/- &#8377;&nbsp;&nbsp;
									tr
										td
										td
											small
												del #{product.price.originalprice}/- &#8377;
												i &nbsp;#{product.price.discount}% off
							h5(style='padding: 20px;') Out Of Stock !
							input.mybutton(type='button', name='submit', value='add to cart', style='cursor: no-drop;').disable
						.dropdown
							button.mybutton.dropdown-toggle.mt-3(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sizes
							.dropdown-menu
								each avas, index in availablesize
									a.dropdown-item(href='/general/products/'+availablesize[index]+'/'+product.details.name) #{availablesize[index]}
		.row.mt-3
			.col-md-12
				.product-description
					h4 Product Description
					each d in product.description
						h5.mt-3.product-description-title #{d.title}
						p.product-description-content &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;#{d.content}
						hr
		hr
		h4 Available Products in this category
		.container
			.row
				each p, avapindex in availableproducts
					.my-souled-card.col-md-3.col-6
						a.my-souled-card-anchor(href='/general/product/'+p._id)
							img.my-souled-card-image-normal(src="/images/products/"+p.property.image, style="width:100%")
							img.my-souled-card-image-model(src='/images/products/hogwarts1.jpg', style='width: 100%;')
							.my-souled-card-name #{p.details.name}
							.row
								.col-md-6.col-6
									span.my-souled-card-type #{p.details.category}
								.col-md-6.col-6
									span.my-souled-card-price Rs. #{p.price.finalprice}/-
					//- .col-md-4
					//- div(class="make-3D-space my-3dcard", data-aos='zoom-in-up', data-aos-duration=600)
					//- 	div(class="product-card")
					//- 		div(class="product-front")
					//- 			div(class='shadow')
					//- 			img(src="/images/products/"+p.property.image, alt="", style='width: 100%;')
					//- 			div(class="image_overlay")
					//- 			a(href='/general/product/'+p._id)
					//- 				div(class="view_details") View details
					//- 			div(class="stats")
					//- 				div(class="stats-container")
					//- 					span() #{p.details.name}
					//- 					span.float-right
					//- 						del &#8377; #{p.price.originalprice}
					//- 						br
					//- 						span.final-price-3dcard &#8377; #{p.price.finalprice}
					//- 					.product-options
					//- 					.my-product-details-3dcard
					//- 						b Color: 
					//- 							span #{p.property.color}
					//- 						br       
					//- 						b Size:                 		
					//- 							span #{p.property.size}
	script(src='/javascripts/productpage/qty.js')
					//- .mycard
					//- 	img(src="/images/products/"+p.property.image, style="width:100%")
					//- 	center
					//- 		h3 #{p.details.name}
					//- 	p
					//- 		span Color: #{p.property.color}
					//- 		br
					//- 		span Size: #{p.property.size}
					//- 		br
					//- 	p
					//- 		span Price: &nbsp;
					//- 			del #{p.price.originalprice}/- &#8377;
					//- 			span &nbsp; #{p.price.discount}% off
					//- 			br
					//- 			center
					//- 				span
					//- 					b #{p.price.finalprice}/- &#8377;
					//- 	a(class="mybuttonlink", href='/general/product/'+p._id) view details
	//- script(src='/javascripts/maintainscroll-product.jquery.js')